<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <center>
        <h2>Login</h2>
        <!-- flash messages -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
    
        <form method="POST" action="{{ url_for('login')}}">
            {{ form.hidden_tag() }}
            {{ form.username.label}} <br>
            {{ form.username(size=20,placeholder='Enter the username') }} <br><br>

            {{ form.password.label }} <br>
            {{ form.password(size=20,placeholder='Enter the password') }} <br><br>

            {{ form.submit() }}
        </form>
        <!-- logout -->
        <form method="post" action="{{ url_for('logout')}}">
            <button type="submit">Logout</button>
        </form>
       <!-- New user -->
        <p>Don't have any account? <a href="{{ url_for('register')}}">Register</a></p>
    </center>
</body>
</html>